<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Model1" connectionString="data source=g6i6eeeoqz.database.windows.net;initial catalog=db_aaa0651b_2358_4854_b28f_614a67adaa8b;persist security info=True;user id=db_aaa0651b_2358_4854_b28f_614a67adaa8b_ExternalReader;password=8zsZDlWzRv&gt;Cobm;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MeradiaDbModel" connectionString="data source=(localdb)\ProjectsV13;initial catalog=meradia_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CvbModel" connectionString="data source=g6i6eeeoqz.database.windows.net;initial catalog=db_aaa0651b_2358_4854_b28f_614a67adaa8b;persist security info=True;user id=db_aaa0651b_2358_4854_b28f_614a67adaa8b_ExternalReader;password=8zsZDlWzRv&gt;Cobm;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_aaa0651b_2358_4854_b28f_614a67adaa8bEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=g6i6eeeoqz.database.windows.net;initial catalog=db_aaa0651b_2358_4854_b28f_614a67adaa8b;persist security info=True;user id=db_aaa0651b_2358_4854_b28f_614a67adaa8b_ExternalReader;password=8zsZDlWzRv&gt;Cobm;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MeradiaDbModel1" connectionString="data source=(localdb)\ProjectsV13;initial catalog=meradia_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>